<section class="main medium-8 medium-centered columns">
  <h3>IdeaBox</h3>
  <button class="button tiny" id="createNewIdea">New Idea</button>
    <div class="hidden" id="renderNewIdeaForm">
      <form id="newIdeaForm" method="post">
        <input type="text" name="idea[title]" placeholder="Title" id="newIdeaTitle">
        <textarea name="idea[body]" placeholder="Description" id="newIdeaBody"></textarea>
        <input type="submit" value="Create" id="newIdeaSubmit" class="tiny button">
      </form>
    </div>
  <div id="currentIdeas"></div>


</section>
